# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Code Composer Studio
# http://processors.wiki.ti.com/index.php/Source_control_with_CCS
*.d
Debug/
Release/
src/
.xdchelp
.config/
.launches/
*.aem3
hardware/betaTag/src/makefile.libs
hardware/betaTag/src/sysbios/makefile
hardware/betaTag/src/sysbios/rom_sysbios.aem3

hardware/CowTags/beta_debug/*
hardware/CowTags/beta_debug/configPkg/*.cmd
beta_debug/*